In [1]:
import pandas as pd

In [2]:
# 日付、引落入力、預入を入力
df1 = pd.DataFrame({
                "date":["4/1", "4/8", "4/15", "4/22", "4/29", "5/6", "5/13", "5/20", "5/27", "6/3"],
                "withd_inp":[2000, 0, 4000, 0, 1500,3500,0,6000,0,4000],
                "deposit":[0,3000,0,0,2000,0,0,0,8000,0]
                  })

In [3]:
# 引落入力と比較するための"引出制限 3,000円" をlimitカラムに入力
# 次にdf の要素に min関数を適用するためにカラムに入力している 
df1["limit"] = 3000

In [4]:
# 要素同士を比較して小さい方を実際の引落に入力
df1["withd_act"] = df1[["withd_inp", "limit"]].min(axis=1)

In [14]:
# for文を適用するために 今週頭の残高と、今週終の残高のカラムを作成する
# None を入力する必然性はないが、数字と区別するために None を入力しておく
df1["accnt_head"] = None
df1["accnt_tail"] = None

In [15]:
df1

   date  withd_inp  deposit  limit  withd_act accnt_head accnt_tail
0   4/1       2000        0   3000       2000       None       None
1   4/8          0     3000   3000          0       None       None
2  4/15       4000        0   3000       3000       None       None
3  4/22          0        0   3000          0       None       None
4  4/29       1500     2000   3000       1500       None       None
5   5/6       3500        0   3000       3000       None       None
6  5/13          0        0   3000          0       None       None
7  5/20       6000        0   3000       3000       None       None
8  5/27          0     8000   3000          0       None       None
9   6/3       4000        0   3000       3000       None       None

In [16]:
# 今週頭の残高と、今週終の残高の作成
for i in range(len(df1)):
    if i == 0:
        df1["accnt_head"][0] = 3000
    else:
        df1["accnt_head"][i] = df1["accnt_tail"][i-1]        
    df1["accnt_tail"][i] = df1["accnt_head"][i] - df1["withd_act"][i] + df1["deposit"][i]

C:\Users\kojis\anaconda3\envs\conda ML\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\kojis\anaconda3\envs\conda ML\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\kojis\anaconda3\envs\conda ML\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [17]:
df1

   date  withd_inp  deposit  limit  withd_act accnt_head accnt_tail
0   4/1       2000        0   3000       2000       3000       1000
1   4/8          0     3000   3000          0       1000       4000
2  4/15       4000        0   3000       3000       4000       1000
3  4/22          0        0   3000          0       1000       1000
4  4/29       1500     2000   3000       1500       1000       1500
5   5/6       3500        0   3000       3000       1500      -1500
6  5/13          0        0   3000          0      -1500      -1500
7  5/20       6000        0   3000       3000      -1500      -4500
8  5/27          0     8000   3000          0      -4500       3500
9   6/3       4000        0   3000       3000       3500        500

In [18]:
# 順番が気になる場合は並び替え
df2 = pd.DataFrame(df1["date"])
df2 = pd.concat([df2, df1.iloc[:,-2]], axis=1)
df2 = pd.concat([df2, df1.iloc[:,1]], axis=1)
df2 = pd.concat([df2, df1.iloc[:,4]], axis=1)
df2 = pd.concat([df2, df1.iloc[:,2]], axis=1)
df2 = pd.concat([df2, df1.iloc[:,-1]], axis=1)

In [19]:
df2

   date accnt_head  withd_inp  withd_act  deposit accnt_tail
0   4/1       3000       2000       2000        0       1000
1   4/8       1000          0          0     3000       4000
2  4/15       4000       4000       3000        0       1000
3  4/22       1000          0          0        0       1000
4  4/29       1000       1500       1500     2000       1500
5   5/6       1500       3500       3000        0      -1500
6  5/13      -1500          0          0        0      -1500
7  5/20      -1500       6000       3000        0      -4500
8  5/27      -4500          0          0     8000       3500
9   6/3       3500       4000       3000        0        500